<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edu.mapper.HumidityMapper">
    <insert id="addHumidity" parameterType="com.edu.pojo.Humidity">
        insert into humidity(data,room,time) values (#{data},#{room},#{time})
    </insert>

    <select id="getNewHum" resultType="java.lang.String">
        select data from humidity
where id = (select max(id) from (select * from humidity where room =#{room}) as t );
    </select>
    <select id="getAllHumidityByRoom" resultType="com.edu.pojo.Humidity">
        select * from humidity where room = #{room}
    </select>

    <select id="getDataByRoom" resultType="com.edu.pojo.Humidity">
        select id,room,data,DATE_FORMAT(time,'%Y-%m-%d %H:%i:%s') as time from humidity
        <where>
            <if test="room != null">
                room = #{room}
            </if>
            <if test="start != null">
                AND time &lt; #{start}
            </if>
            <if test="end != null">
                AND time &gt; #{end}
            </if>
        </where>
    </select>
</mapper>